.section-nav {
    font-size: 14px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 240px;
    max-height: calc(100vh - 200px);
}

.section-nav ul {
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
}

.toc-entry {
    overflow: hidden;
    padding-top: 1px;
    text-overflow: ellipsis;
}

.toc-h2 {
    padding-left: 15px;
}

.toc-h3 {
    padding-left: 15px;
}

.toc-h4 {
    padding-left: 15px;
}

.toc-h5 {
    padding-left: 15px;
}

.toc-h6 {
    padding-left: 15px;
}

/* Tips, warnings, and dangers */
blockquote.block-tip {
    border-color: var(--c-tip);
    background-color: var(--c-tip-bg);
    color: var(--c-tip-text);
    font-family: var(--font-family);
}

blockquote.block-tip h1 {
    color: var(--c-tip-title);
}

blockquote.block-tip h2 {
    color: var(--c-tip-title);
}

blockquote.block-tip h3 {
    color: var(--c-tip-title);
}

blockquote.block-tip h4 {
    color: var(--c-tip-title);
}

blockquote.block-tip h5 {
    color: var(--c-tip-title);
}

blockquote.block-tip h6 {
    color: var(--c-tip-title);
}

blockquote.block-warning {
    border-color: var(--c-warning);
    background-color: var(--c-warning-bg);
    color: var(--c-warning-text);
    font-family: var(--font-family);
}

blockquote.block-warning h1 {
    color: var(--c-warning-title);
}

blockquote.block-warning h2 {
    color: var(--c-warning-title);
}

blockquote.block-warning h3 {
    color: var(--c-warning-title);
}

blockquote.block-warning h4 {
    color: var(--c-warning-title);
}

blockquote.block-warning h5 {
    color: var(--c-warning-title);
}

blockquote.block-warning h6 {
    color: var(--c-warning-title);
}

blockquote.block-danger {
    border-color: var(--c-danger);
    background-color: var(--c-danger-bg);
    color: var(--c-danger-text);
    font-family: var(--font-family);
}

blockquote.block-danger h1 {
    color: var(--c-danger-title);
}

blockquote.block-danger h2 {
    color: var(--c-danger-title);
}

blockquote.block-danger h3 {
    color: var(--c-danger-title);
}

blockquote.block-danger h4 {
    color: var(--c-danger-title);
}

blockquote.block-danger h5 {
    color: var(--c-danger-title);
}

blockquote.block-danger h6 {
    color: var(--c-danger-title);
}

:root {
    --c-tip: #42b983;
    --c-tip-bg: #e2f5ec;
    --c-tip-text: #215d42;
    --c-tip-title: #359469;
    --c-warning: #e7c000;
    --c-warning-bg: rgba(255, 229, 100, .25);
    --c-warning-text: #6b5900;
    --c-warning-title: #b29400;
    --c-danger: #c00;
    --c-danger-bg: #ffe0e0;
    --c-danger-text: #600;
    --c-danger-title: #c00;
    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

details summary {
    cursor: pointer;
    display: inline;
}

details summary > * {
    display: inline;
}
